@import "../../common";

.query {
  display: flex;
  align-items: center;
  margin: rpx(20);

  .search {
    flex: 1;
    margin: rpx(15);
    padding: rpx(10) rpx(20);
    box-shadow: 0 0 rpx(15) 0 rgba(#999, 0.3);
    border-radius: rpx(30);
    font-size: rpx(26);
    color: #999999;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rpx(120);
    height: rpx(80);
    color: #ffffff;
    border-radius: rpx(10);
    background-color: #007bff;
  }
}

.item {
  margin: rpx(50) rpx(30) rpx(20);
  padding: rpx(30);
  box-shadow: 0 0 rpx(15) 0 rgba(150, 150, 150, 0.35);
  border-radius: 10px;

  .number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: rpx(26);
    color: #999999;
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rpx(30);
    .person {
      font-size: rpx(24);
      color: #999999;
    }
  }
  .info-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: rpx(26);
    color: #999999;
    .price {
      text {
        &:first-child {
          color: #999999;
        }
        &:last-child {
          margin-left: rpx(20);
          color: #ce2424;
        }
      }
    }
  }
}

.arrow-bg {
  width: rpx(200);
  height: rpx(10);
}

.input {

  display: flex;
  align-items: center;
  justify-content: center;

  padding: rpx(20);

  .prompt {
    flex: none;
    color: #999999;
  }

  .value {
    flex: 1;
    margin-left: rpx(20);
    color: #666;
  }

}

.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: rpx(50) auto 0;

  width: rpx(350);
  height: rpx(85);
  background-image: linear-gradient(90deg,
    #327ff1 0%,
    #4599f2 100%);
  box-shadow: 0 0 rpx(20) 0 rgba(11, 94, 199, 0.35);
  border-radius: rpx(85);
  color: #FFFFFF;
}

.pay-info {
  padding: rpx(20);
  text-align: right;
  color: #999;
  border-bottom: 1px solid #eee;
}
