@import "../../common";

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: rpx(400);
  .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    .info-img {
      width: rpx(200);
      height: rpx(200);
      margin-bottom: rpx(20);
      border-radius: 50%;
    }
    .info-name {
      color: #FFFFFF;
    }
  }
}

.list {
  .item {
    padding: rpx(30);
  }
}
