@import "../../common";

.service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding: rpx(30);
  .value {
    display: flex;
    align-items: center;
    input {
      padding-right: rpx(15);
      text-align: right;
    }
    radio {
      margin-left: rpx(30);
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: rpx(250) auto 0;
  width: rpx(550);
  height: rpx(80);
  background-image: linear-gradient(90deg,
    #327ff1 0%,
    #4599f2 100%);
  box-shadow: 0 0 rpx(15) 0 rgba(11, 94, 199, 0.35);
  border-radius: rpx(40);
  color: #FFF;
}
