@import "../../common";

.tab {
  display: flex;
  align-items: center;
  height: rpx(80);
  border-bottom: 1px solid #eee;
  > view {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    &:last-child {
      border-left: 1px solid #eee;
    }
  }
  .select {
    color: #327ff0;
  }
}

.search {
  margin: rpx(15) rpx(30);
  padding: rpx(20);
  box-shadow: 0 0 rpx(15) 0 rgba(#999, 0.3);
  border-radius: rpx(30);
  font-size: rpx(26);
  color: #999999;
}

.list {
  .item {
    margin: rpx(20) rpx(30);
    padding: rpx(30);
    box-shadow: 0 0 rpx(15) 0 rgba(150, 150, 150, 0.35);
    border-radius: 10px;

    .number {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: rpx(26);
      color: #999999;
    }

    .info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: rpx(30);
      .person {
        font-size: rpx(24);
        color: #999999;
      }
    }
    .info-arrow {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: rpx(26);
      color: #999999;
    }

  }
}

.view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rpx(160);
  height: rpx(80);
  background-image: linear-gradient(90deg,
    #327ff1 0%,
    #4599f2 100%);
  box-shadow: 0 0 rpx(25) 0 rgba(11, 94, 199, 0.35);
  border-radius: rpx(20);
  color: #ffffff;
}

.arrow-bg {
  width: rpx(200);
  height: rpx(10);
}
