@import "../../common";

.process-y {
  margin: rpx(20);
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: rpx(200);
    height: 100%;
    width: 1px;
    background-color: #999;
  }
  .process-item {
    display: flex;
    align-items: center;
    height: 100%;
    margin-bottom: rpx(15);
    .item-date {
      flex: none;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      width: rpx(200);
      color: #666;
      font-size: rpx(28);
    }
    .item-icon {
      flex: none;
      height: rpx(18);
      width: rpx(18);
      margin-left: rpx(-6);
      border-radius: 50%;
      background-color: #999;
    }
    .item-content {
      padding: 0 rpx(15);
      font-size: rpx(28);
      color: #999999;
    }
  }
}

